HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
springular-framework.log*
*.gz
*.tmp
*.class
*.war
*.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.task_runner_caches/**
*.DS_Store
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.DS_Store
.DS_Store


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.metadata/

/.task_runner_caches/commited_files